.gallery .control-button {
  color: #ccc;
  color: rgba(255, 255, 255, 0.4);
}

.gallery .control-button:hover {
  color: white;
  color: rgba(255, 255, 255, 0.8);
}

/*
	Theme controls how everything looks in Gallery CSS.
*/

.gallery_geral {
display: flex;
justify-content: center;


}

.gallery {

  position: relative;
 
  
}
.gallery .item {
  height: auto;
  overflow: hidden;
  text-align: center;
  background: #4d87e2;
  border-radius: 180px;
  border: 25px solid black;
  max-width: 1227px;
  width: 100%;
 
}

.gallery .controls {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
}

.item img {
  width: 100%;
  height:100% ;
  
  margin-bottom: -15px;
  
}


@media (min-width: 700px) and (max-width: 900px) {
  
  .gallery .item {
    
    border: 15px solid black;
   
  }
}

@media (min-width: 400px) and (max-width: 700px) {
  
  .gallery .item {
    
    border: 9px solid black;
   
  }
}

@media (min-width: 0px) and (max-width: 400px) {
  
  .gallery .item {
    
    border: 6px solid black;
   
  }




}


